# Python 3.9.15
# PyTorch 1.13.1 + CUDA 11.6

--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.13.1+cu116
torchaudio==0.14.1+cu116

matplotlib==3.6.3
pandas==1.5.3
soundfile==0.11.0 # 用於 torchaudio